<div>
  <mat-toolbar color="primary">
    <span>{{title}}</span>
  </mat-toolbar>

  <td-steps (stepChange)="change($event)" [mode]="(media.registerQuery('gt-sm') | async) ? 'horizontal' : 'vertical'">
    <td-step #step1 label="Start Site Request" 
            [active]="true" 
            [disabled]="false"
            [state]="stateNone">
      Does your site need to be opened to all in the company? <br><br>
      <mat-checkbox [(ngModel)]="checked">
        Yes, open to all
      </mat-checkbox>
      <ng-template td-step-actions>
        <button mat-raised-button color="primary" (click)="step1.state='complete'; step1.disabled=true; step2.disabled=false; step2.open();">Next Step</button>
      </ng-template>
    </td-step>
    
    <td-step #step2 label="Select Site Type" 
            [state]= "" 
            [disabled]="disabled">
      
        <div *ngIf="!checked" id="openAllNo" layout="column" layout-gt-sm="row">
          <div id='what1' flex>
            <!-- O365 Group Site Card -->
            <mat-card [ngClass]="{'card-selected': sitecards[0].selectedClass}">
              <mat-card-title>O365 Group Site</mat-card-title>
              <mat-card-subtitle>A security/distribution group that can be used to manage access to sites and services across Office 365 and the Visa network.</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content class="md-card-content-prosconsSections">
                <div layout="row" layout-align="center">
                  <div class="md-card-content-prosconsSection">
                    <h3>Pros</h3>
                    <ul>
                      <li>Simple document library (SP)</li>
                      <li>Mobile Access</li>
                      <li>Shared Mailbox (Exchange)</li>
                      <li>Shared Calendar (Exchange)</li>
                      <li>Distribution List (Exchange)</li>
                      <li>Task Board (Planner)</li>
                    </ul>
                  </div>
                  <div class="md-card-content-prosconsSection md-card-content-prosconsSection--cons">
                    <h3>Cons</h3>
                    <ul>
                      <li>No lists</li>
                      <li>No forms</li>
                      <li>No pages</li>
                      <li>Basic UI</li>
                      <li>No customization</li>
                      <li>No apps</li>
                      <li>Small audiences</li>
                    </ul>
                  </div>
                </div>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <button mat-mini-fab color="accent" (click)="toggleCardSelected('closed_O365_Group_Site')" ngDefaultControl>
                  <mat-icon>check circle</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
            <!-- SP Online Site Card -->
          <div id='what2' flex>
            <mat-card [ngClass]="{'card-selected': sitecards[1].selectedClass}">
              <mat-card-title>SP Online Site</mat-card-title>
              <mat-card-subtitle>A cloud version of the SharePoint team sites you've used previously on the Visa network.</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content class="md-card-content-prosconsSections">
                <div layout="row" layout-align="center">
                  <div class="md-card-content-prosconsSection">
                    <h3>Pros</h3>
                    <ul>
                      <li>Core SharePoint feature set</li>
                      <li>Full O365 services</li>
                      <li>Mobile Access</li>
                      <li>Some customizations possible</li>
                      <li>Pages</li>
                      <li>Lists</li>
                      <li>Forms</li>
                      <li>Apps</li>
                    </ul>
                  </div>
                  <div class="md-card-content-prosconsSection md-card-content-prosconsSection--cons">
                    <h3>Cons</h3>
                    <ul>
                      <li>More complex and advanced</li>
                      <li>No integration with<br/> Visa network resources</li>
                      <li>No Nintex</li>
                      <li>No InfoPath</li>
                    </ul>
                  </div>
                </div>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <button mat-mini-fab color="accent" (click)="toggleCardSelected('closed_SP_Online_Site')" ngDefaultControl>
                  <mat-icon>check circle</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div id='what3' flex>
            <!-- SP On-Prem Site Card -->
            <mat-card [ngClass]="{'card-selected': sitecards[2].selectedClass}">
              <mat-card-title>SP On-Premises Site</mat-card-title>
              <mat-card-subtitle>SP Publishing site hosted on our internal shared server farm to allow for more advanced customizations.</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content class="md-card-content-prosconsSections">
                <div layout="row" layout-align="center">
                  <div class="md-card-content-prosconsSection">
                    <h3>Pros</h3>
                    <ul>
                      <li>Full SharePoint feature set</li>
                      <li>Included in Insite Search</li>
                      <li>Tighter network security</li>
                      <li>Pages</li>
                      <li>Lists</li>
                      <li>Forms</li>
                      <li>Apps</li>
                      <li>Nintex</li>
                      <li>InfoPath</li>
                    </ul>
                  </div>
                  <div class="md-card-content-prosconsSection md-card-content-prosconsSection--cons">
                    <h3>Cons</h3>
                    <ul>
                      <li>No O365 services</li>
                      <li>No mobile access</li>
                    </ul>
                  </div>
                </div>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <button mat-mini-fab color="accent" (click)="toggleCardSelected('closed_SP_OnPrem_Site')" ngDefaultControl>
                  <mat-icon>check circle</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div *ngIf="checked" id="openAllYes" layout="column" layout-gt-sm="row">
          <!-- AEM Site Card -->
          <div flex>
            <mat-card [ngClass]="{'card-selected': sitecards[3].selectedClass}">
              <mat-card-title>AEM Site</mat-card-title>
              <mat-card-subtitle>The Visa Corporate intranet is intended to be the source of authoritative information.</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content class="md-card-content-prosconsSections">
                <div layout="row" layout-align="center">
                  <div class="md-card-content-prosconsSection">
                    <h3>Pros</h3>
                    <ul>
                      <li>Polished look and feel</li>
                      <li>Included in Insite search</li>
                      <li>Content authors to help publish content</li>
                      <li>An Editor will curate your information</li>
                    </ul>
                  </div>
                  <div class="md-card-content-prosconsSection md-card-content-prosconsSection--cons">
                    <h3>Cons</h3>
                    <ul>
                      <li>Limited customization</li>
                      <li>No forms</li>
                      <li>No automation</li>
                      <li>An Editor will curate your information</li>
                      <li>Limited mobile options</li>
                    </ul>
                  </div>
                </div>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <button mat-mini-fab color="accent" (click)="toggleCardSelected('opened_AEM_Site')" ngDefaultControl>
                  <mat-icon>check circle</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
          <!-- SP Online Site Card -->
          <div flex>
            <mat-card [ngClass]="{'card-selected': sitecards[4].selectedClass}">
              <mat-card-title>SP Online Site</mat-card-title>
              <mat-card-subtitle>A cloud version of the SharePoint team sites you've used previously on the Visa network.</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content class="md-card-content-prosconsSections">
                <div layout="row" layout-align="center">
                  <div class="md-card-content-prosconsSection">
                    <h3>Pros</h3>
                    <ul>
                      <li>Core SharePoint feature set</li>
                      <li>Full O365 services</li>
                      <li>Mobile Access</li>
                      <li>Some customizations possible</li>
                      <li>Pages</li>
                      <li>Lists</li>
                      <li>Forms</li>
                      <li>Apps</li>
                    </ul>
                  </div>
                  <div class="md-card-content-prosconsSection md-card-content-prosconsSection--cons">
                    <h3>Cons</h3>
                    <ul>
                      <li>More complex and advanced</li>
                      <li>No integration with resources on the Visa network</li>
                      <li>No Nintex</li>
                      <li>No InfoPath</li>
                      <li>Limited look and feel options</li>
                      <li>Not included in Insite search</li>
                    </ul>
                  </div>
                </div>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <button mat-mini-fab color="accent" (click)="toggleCardSelected('opened_SP_Online_Site')" ngDefaultControl>
                  <mat-icon>check circle</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
          <!-- SP On-Prem Site Card -->
          <div flex>
            <mat-card [ngClass]="{'card-selected': sitecards[5].selectedClass}">
              <mat-card-title>SP On-Premises Site</mat-card-title>
              <mat-card-subtitle>SP site hosted on our internal shared server farm to allow for more advanced customizations.</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content class="md-card-content-prosconsSections">
                <div layout="row" layout-align="center">
                  <div class="md-card-content-prosconsSection">
                    <h3>Pros</h3>
                    <ul>
                      <li>Full SharePoint feature set</li>
                      <li>Included in Insite Search</li>
                      <li>Tighter network security</li>
                      <li>Nintex</li>
                      <li>InfoPath</li>
                    </ul>
                  </div>
                  <div class="md-card-content-prosconsSection md-card-content-prosconsSection--cons">
                    <h3>Cons</h3>
                    <ul>
                      <li>No O365 services</li>
                      <li>No mobile access</li>
                    </ul>
                  </div>
                </div>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <button mat-mini-fab color="accent" (click)="toggleCardSelected('opened_SP_OnPrem_Site')" ngDefaultControl>
                  <mat-icon>check circle</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      <ng-template td-step-actions>
        <button mat-raised-button (click)="step1.state='none'; step1.disabled=false; step1.open(); step2.disabled=true;">Previous Step</button>
        <button mat-raised-button color="primary" (click)="step2.state='complete'; step2.disabled=true; step3.disabled=false; step3.open();" [disabled]="siteCardSelected.siteType === 6">Next Step</button>
      </ng-template>
    </td-step>

    <td-step #step3 label="Site Name and Owners" 
            [state]="stateNone" 
            [disabled]="disabled">
      <!-- Inputs -->
      <form #siteInfoForm="ngForm">
        <div layout="row" layout-margin>
          <mat-input-container flex>
            <input matInput type="text" [(ngModel)]="siteFormModel.siteName" name="siteName" placeholder="Proposed Site Name" required>
          </mat-input-container>
        </div>
        <div layout="row" layout-margin>
          <mat-input-container flex>
            <input matInput type="text" [(ngModel)]="siteFormModel.siteOwnerPrimary" name="siteOwnerPrimary" placeholder="Enter Name of Primary Site Owner" required>
          </mat-input-container>
        </div>
        <div layout="row" layout-margin>
          <mat-input-container flex>
            <input matInput type="text" [(ngModel)]="siteFormModel.siteOwnerSecondary" name="siteOwnerSecondary" placeholder="Enter Name of Secondary Site Owner" required>
          </mat-input-container>
        </div>
      </form>
      <ng-template td-step-actions>
        <button mat-raised-button (click)="step2.state='none'; step2.disabled=false; step2.open(); step3.disabled=true;">Previous Step</button>
        <button mat-raised-button color="primary" (click)="createSiteRequestObj(); step3.state='complete'; step3.disabled=true; step4.disabled=false; step4.open();" [disabled]="!siteInfoForm.valid">Review Request</button>
      </ng-template>
    </td-step>

    <td-step #step4 label="Review Site Request" 
            [state]="stateNone" 
            [disabled]="disabled">
      <p></p>
      <div>
        <mat-card>
          <mat-card-title>Site Request Info</mat-card-title>
          <mat-card-subtitle>Information about your site request</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-list>
            <h3 md-subheader>Captured Metadata</h3>
            <mat-list-item>
                <mat-icon md-list-avatar *ngIf="!checked">lock</mat-icon>
                <mat-icon md-list-avatar *ngIf="checked">lock_open</mat-icon>
                <h4 md-line>{{siteRequestObj.open_site ? "Yes":"No"}}</h4>
                <p md-line>Open to all of Visa Inc</p>
            </mat-list-item>
            <mat-divider md-inset></mat-divider>
            <mat-list-item>
                <mat-icon md-list-avatar>web</mat-icon>
                <h4 md-line>{{siteRequestObj.siteType}}</h4>
                <p md-line>Site Type Requested</p>
            </mat-list-item>
            <mat-divider md-inset></mat-divider>
            <mat-list-item>
                <mat-icon md-list-avatar>language</mat-icon>
                <h4 md-line>{{siteRequestObj.siteName}}</h4>
                <p md-line>Proposed Site Name</p>
            </mat-list-item>
            <mat-divider md-inset></mat-divider>
            <mat-list-item>
                <mat-icon md-list-avatar>account_box</mat-icon>
                <h4 md-line>{{siteRequestObj.ownerPrimary}}</h4>
                <p md-line>Primary Site Owner</p>
            </mat-list-item>
            <mat-divider md-inset></mat-divider>
            <mat-list-item>
                <mat-icon md-list-avatar>account_box</mat-icon>
                <h4 md-line>{{siteRequestObj.ownerSecondary}}</h4>
                <p md-line>Secondary Site Owner</p>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <ng-template td-step-actions>
        <button md-raised-button (click)="step3.state='none'; step3.disabled=false; step3.open(); step4.disabled=true;">Previous Step</button>
        <button md-raised-button color="primary" (click)="step4.state='complete'; step4.disabled=true; step5.disabled=false; step5.open(); step5.state='complete'">Create Site</button>
      </ng-template>
    </td-step>

    <td-step #step5 label="Request Complete" 
            [state]="stateNone" 
            [disabled]="disabled">
      <mat-card>
        <mat-card-title>Site Request Submitted</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>You have completed submitting a request for a SharePoint site.</p>
          <p>You will receive an email in a few moments with a link to your new site.</p>
          <p>In the meantime, please visit our <a href="#">Collaboration Technology</a> site for more information on how you can start leveraging your new site for productive and effective internal collaboration.</p>
          <p>Have a great day!</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button md-raised-button color="accent" (click)="resetEntireSiteRequestForm(); siteInfoForm.reset(); step1.state = step2.state= step3.state = step4.state = step5.state ='none'; step5.disabled=true; step1.disabled=false; step1.open(); step2.disabled=true;">Start Again</button>
        </mat-card-actions>
      </mat-card>
    </td-step>
  </td-steps>
</div>
